# Load .csv to MySQL

In [20]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

# Define the CSV file path and MySQL connection details
csv_file_path = 'Your Own Location' # For pizzas, pizza_type, orders and order_details csv
host = 'localhost'
database = 'Pizza_Sales'
user = 'root'
password = 'password'

# Read the CSV file into a DataFrame with latin1 encoding
df = pd.read_csv(csv_file_path, encoding='latin1')

# Replace NaN values with None
df = df.where(pd.notnull(df), None)

try:
    # Establish a MySQL connection
    connection = mysql.connector.connect(
        host=host,
        database=database,
        user=user,
        password=password,
        charset='utf8mb4'
    )

    if connection.is_connected():
        cursor = connection.cursor()

        # Iterate through the DataFrame and insert data into the MySQL table
        for i, row in df.iterrows(): # Example: order_details
            sql = "INSERT INTO order_details (order_details_id, order_id, pizza_id, quantity) VALUES (%s, %s, %s, %s)"
            cursor.execute(sql, tuple(row))

        connection.commit()
        print("Data loaded successfully.")

except Error as e:
    print(f"Error: {e}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed.")

Data loaded successfully.
MySQL connection is closed.